{% extends "network/layout.html" %}

{% block body %}

{% for post in posts %}
    <div class="allPosts">
        <a href="{% url 'profile' username=post.user.username %}"> <h6>{{ post.user.username }}</h6> </a>
        <p>{{ post.content }}</p>
        <p>Posted on {{ post.post_date }}</p>
        <p>Likes: {{ post.likes }}</p>
        {% if post.image %}
            <img class="post_image" src="{{ post.image.url }}" alt="Post image">
        {% endif %}
    </div>
{% endfor %}
<nav>
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
