{% extends "network/layout.html" %}

{% block body %} 

{% load static %}
<script src="{% static 'animation.js' %}"></script>

<DIV class="following_centered">
    {% for post in posts %}
        <p>Posted on {{ post.post_date }}</p>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <a href="{% url 'profile' username=post.user.username %}"><p>{{ post.user.username }}</p></a>
        {% if post.image %}
        <img class="post_image"    src="{{ post.image.url }}" alt="Post image">

        <br/>
        {% endif %}
        ,<button class="like-button" data-post-id="{{ post.id}}">
            Like
        </button>
        <span class="like-count">{{  post.likes.count }}</span>
    {% empty %}
        <p>No posts to show.</p>
    {% endfor %}

</DIV>

<nav>
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}